html
    head
    body
        form(method="POST", action="/last")
            input(type="hidden", name="_method", value="PUT")
            p name
            input(type="text",name="name",id="name")
            p age
            input(type="text",name="id",id="id")
            p
            input(type="submit",value="Login")

